<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingfenglong.spzx.mapper.SysRoleMapper">

    <resultMap id="SysRoleMap" type="com.lingfenglong.spzx.model.entity.system.SysRole" autoMapping="true">
        <id property="id" column="id" />
        <result property="roleName" column="role_name" />
        <result property="roleCode" column="role_code" />
        <result property="description" column="description" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="columns">
        id, role_name, role_code, description, create_time, update_time, is_deleted
    </sql>

    <!-- 保存系统角色 -->
    <insert id="save">
        insert into db_spzx.sys_role(role_name, role_code, description)
        values (#{roleName}, #{roleCode}, #{description})
    </insert>

    <!-- 为一个角色分配菜单 -->
    <insert id="assignRoleMenu">
        insert into db_spzx.sys_role_menu(role_id, menu_id)
        values 
        <foreach collection="menuIdList" item="id" separator=",">
            (#{roleId}, #{id})
        </foreach>
    </insert>

    <!-- 修改系统角色 -->
    <update id="update">
        update db_spzx.sys_role
        set
            <if test="roleName != null and roleName != ''">
                role_name = #{roleName},
            </if>
            <if test="roleCode != null and roleCode != ''">
                role_code = #{roleCode},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            update_time = now()
        where id = #{id}
    </update>

    <!-- 移除该角色的所有菜单 -->
    <delete id="removeAllMenu">
        delete from db_spzx.sys_role_menu
        where role_id = #{roleId}
    </delete>

    <!-- 删除系统角色 -->
    <delete id="remove">
        update sys_role
        set is_deleted = 1
        where id = #{roleId}
    </delete>

    <!-- 通过角色名分页模糊查询 -->
    <select id="findSysRolePage" resultMap="SysRoleMap">
        select <include refid="columns"/>
        from db_spzx.sys_role
        <where>
            <if test="roleName != null and roleName != ''">
                and role_name like concat('%', #{roleName}, '%')
            </if>
            and is_deleted = 0
        </where>
    </select>

    <!-- 查询当前的所有角色 -->
    <select id="findAllRoles" resultType="com.lingfenglong.spzx.model.entity.system.SysRole">
        select <include refid="columns"/>
        from db_spzx.sys_role
    </select>

    <!-- 根据用户Id查询该用户所具有的角色的全部Id -->
    <select id="findRoleIdsByUserId" resultType="java.lang.Long">
        select sr.id
        from db_spzx.sys_user as su
        join db_spzx.sys_user_role as sur on su.id = sur.user_id
        join db_spzx.sys_role as sr on sr.id = sur.role_id
        where su.id = #{userId}
    </select>
</mapper>